@import "tailwindcss";

@theme {
    --color-content: #2B2B2B;
    --color-surface: #1B1B1B;
    --color-background: #F3F3F3;
    --color-linkedin: #0077B5;
    --color-primary: #111111;
    --color-github: #080808;
}

@layer base {
  body {
    @apply bg-background text-content;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
